<h1>Skill#index</h1>
<p>Find me in app/views/skill/index.html.erb</p>
<%= form_with scope: :skill, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :brand_description %><br>
    <%= form.text_area :brand_description %>
  </p>

  <p>
    <%= form.label :creator_description %><br>
    <%= form.text_area :creator_description %>
  </p>
 
  <p>
    <%= form.label :skill %><br>
    <%= form.text_field :skill %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>